# package directories
node_modules
jspm_packages

# mac directories
.DS_Store

# Serverless directories
.serverless

# VSCode directories
.vscode

# Webpack directories
.webpack

# Yarn directories
yarn-error.log*
